<script type='text/javascript' charset='UTF-8'>
  $(document).ready(function(){
    $('form[data-remote]').bind('ajax:before', function(){
      for (instance in CKEDITOR.instances){
        CKEDITOR.instances[instance].updateElement();
      }
    });
  });
</script>

<%= error_messages_for(@book) %>

<%= form_for @book, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
 
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn' %>
  </div>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :autofocus => true, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label :rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:rating, 1..5) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Category", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :category_id, options_for_select(@categories.map{|category|[category.name, category.id]}, @book.category_id)  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, "Attach Cover Image using Paperclip", :class => 'control-label' %>
    <div class="controls">
     <%= f.file_field :image %>
    </div>
  </div>

  <!-- Nested Form for @book.images -->
  <%= f.fields_for :images do |ff| %>
   <div class="control-group">
     <%= ff.label "Enter Author Image Url", :class => 'control-label' %>
        <div class="controls">
         <%= ff.text_field :author_img_url %>
         Delete: <%= ff.check_box '_destroy' %>
        </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :short_summary, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :short_summary, :class => "short_summary" %>
    </div>
  </div>

<hr>

  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.cktext_area :notes, :ckeditor => {:language => 'uk'} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn' %>
  </div>

<% end %>