<%- model_class = Book -%>
<div>
  <h1><%=t '.title', :default => "#{@book.title}" %></h1>
</div>
<div class="form-actions">
  <%= link_to "Back Home", root_path, :class => 'btn btn-primary'  %>
  <%= link_to "Books Index", books_path, :class => 'btn btn-primary'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_book_path(@book), :class => 'btn btn-success' %>
</div>

<dl class="dl-horizontal">
  <dt><strong>Cover</strong></dt>
  <% if @book.image.exists? %>
    <dd><p><%= image_tag @book.image.url(:cover_size) %></p></dd>
  <% else %>
    <dd><p>N/A</p></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @book.title %><br>
  <%= link_to "http://www.google.com/search?q=#{@book.title} #{@book.author}", target: "blank" do %><button class="btn btn-warning">Google it</button><% end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:author) %>:</strong></dt>
  <dd><%= link_to @book.author, "http://www.google.com/search?q=#{@book.author}", target: "blank" %></dd>
  <% if @book.images.present? %>
    <dd><%= link_to (image_tag @book.images.first.author_img_url, class: "author_image"), "http://www.google.com/search?q=#{@book.author}", target: "blank"  %></dd>
  <% end %>
    <dt><strong><%= model_class.human_attribute_name(:rating) %>:</strong></dt>
  <dd>
  <% (@book.rating).times do %>
    <%= image_tag "star.png" %>
  <% end %>
  <br>
  <%= @book.rating %> out of 5
  </dd>
  <dt><strong>Category:</strong></dt>
  <dd><%= @book.category.name %></dd>
  <dt><strong>Short Summary:</strong></dt>
  <dd>
  <% if @book.short_summary.present? %>
  <pre><%= @book.short_summary %></pre>
  <% else %>
  <p>  N/A </p> 
 <% end %>
  </dd>
  <% if current_user %>
  <dt><strong>Author Image Path</strong></dt>
  <dd><%= @book.images.first.author_img_url %></dd>
  <% end %>
  <dt><strong>Terry's Notes:</strong></dt>
  <dd>  ******************************************************************************************************</dd>
  <dd>
  <% if @book.notes.present? %>
    <%= raw @book.notes %>
  <% else %>
    N/A
  <% end %>
  </dd>

</dl>

<div class="form-actions">
  <%= link_to "Back Home", root_path, :class => 'btn btn-primary'  %>
  <%= link_to "Books Index", books_path, :class => 'btn btn-primary'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_book_path(@book), :class => 'btn btn-success' %>
</div>