<div id="formWrapper">

<%= form_tag user_sessions_path, :html => { :class => 'form-horizontal' }, :method => :post do %>
  <div class="control-group">
    <label class='control-label'>Email</label><br />
    <%= text_field_tag :email,  nil, :autofocus => true %>
  </div>
  <div class="control-group">
    <%= label_tag :password, nil, class: 'control-label' %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login", :class => "btn btn-success" %>
    <%= link_to "Back Home", root_path, :class => "btn btn-primary" %>
  </div>
<% end %>

</div>