<%= form_for @image, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :cover_img_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cover_img_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author_img_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author_img_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :book_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :book_id, options_for_select(@books.map{|book| [book.title, book.id]}), :include_blank => true %>    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                images_path, :class => 'btn' %>
  </div>
<% end %>
<hr>
<p>Examples: Author img url: author_images/john_medina.jpg (no quotes)</p>
