<!DOCTYPE html>
<html>
<head>
  <title>Booknotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">$(document).ready(function() {
    if ($('textarea').length > 0) {
        var data = $('textarea');
        $.each(data, function(i) {
            CKEDITOR.replace(data[i].id);
        });
    }
});
  </script>


<%= nav_bar :brand => "Terry's Book Notes", :responsive => true  do %>
    <%= menu_group do %>
        <%= menu_item "Books", root_path %>
        <%= menu_item "Categories", categories_path %>
        <%= menu_item "Images", images_path %>
    <% end %>
<% end %>

<%= bootstrap_flash %>

<%= yield %>

<hr>
<%= debug(params) %>

</body>
</html>
