<!DOCTYPE html>
<html>
<head>
  <title>Booknotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
    <%= link_to "Terry's Book Notes", root_path, :class => "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Books", books_path %></li>
            <% if current_user %>
            <li><%= link_to "Categories", category_admin_index_path %></li>
            <% else %>
            <li><%= link_to "Categories", category_index_path %></li>
            <% end %>
            <% if current_user %>
            <li><%= link_to "Images", images_path %></li>
              <% end %>
        </ul>
                    <%= menu_group :pull => :right do %>
              <% if current_user %>
                <li><%= link_to "See Admins", users_path %></li>
                <li><%= link_to "Logout", :logout, method: :post %></li>
              <% else %>
<!--                 <li><%= link_to "Register", new_user_path %></li> 
 -->                <li><%= link_to "Admin Login", :login %></li>
              <% end %>
            <% end %>
      </div>
    </div>
  </div>
</div>

<% flash.each do |flash_type, flash_message| %>
  <p class="<%= flash_class_returner(flash_type) %>">
    <%= flash_message %> 
  </p>
<% end %>




<%= yield %>

<!-- <hr>
<%= debug(params) %> -->

</body>
</html>
